
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
    <img src="assets/icon.jpg" alt="logo" style="width:40px;">
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav">
    <li class="nav-item">
    <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="/bio">Bio</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/displayImage">DisplayImage</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/displayEmp">DisplayEmployee</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/create-bio">create New Bio</a>
    </li>
    </ul>
    </nav>
    

<router-outlet></router-outlet>
